In [30]:
import pandas as pd
import numpy as np

heroes_file = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(heroes_file)

In [32]:
total_players = len(purchase_data["SN"].value_counts())

players = pd.DataFrame({"Total Players":[total_players]})
players

   Total Players
0            576

In [34]:
unique_items = len((purchase_data["Item ID"]).unique())
avg_price = (purchase_data["Price"]).mean()
purchases = (purchase_data["Purchase ID"]).count()
revenue = (purchase_data["Price"]).sum()

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Price":[avg_price], 
                           "Number of Purchases": [purchases], 
                           "Total Revenue": [revenue]})

purchasing_analysis_df.style.format({'Average Price':"${:,.2f}",
                                     'Total Revenue': '${:,.2f}'})

In [40]:
gender_stats = purchase_data.groupby("Gender")

total_count = gender_stats.nunique()["SN"]

percent_players = total_count / total_players * 100

gender_demo = pd.DataFrame({"Total Count": total_count, "Percentage of Players": percent_players})

gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [29]:
purchase_count = gender_stats["Purchase ID"].count()

avg_price = gender_stats["Price"].mean()

avg_total = gender_stats["Price"].sum()

avg_per_person = avg_total/total_count_gender

gender_demo = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_price,
                                    "Total Purchase Value":avg_total,
                                    "Avg Total Purchase per Person": avg_per_person})

gender_demo.index.name = "Gender"

gender_demo.style.format({"Total Purchase Value":"${:,.2f}",
                          "Average Purchase Price":"${:,.2f}",
                          "Avg Total Purchase per Person":"${:,.2f}"})

In [48]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=groups)
purchase_data

age_group = purchase_data.groupby("Age Group")

total_count = age_group["SN"].nunique()

percentage_age = (total_count/total_players) * 100

age_demo = pd.DataFrame({"Total Count": total_count, "Percentage of Players": percentage_age})

age_demo.style.format({"Percentage of Players":"{:,.2f}"})

In [49]:
purchase_count_age = age_grouped["Purchase ID"].count()

avg_price_age = age_grouped["Price"].mean()

total_purchase_value = age_grouped["Price"].sum()

avg_purchase_per_person_age = total_purchase_value/total_count_age

age_demo = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

age_demo.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

In [51]:
spenders = purchase_data.groupby("SN")

purchase_count = spenders["Purchase ID"].count()

avg_purchase_price = spenders["Price"].mean()

purchase_total = spenders["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": purchase_count,
                             "Average Purchase Price": avg_purchase_price,
                             "Total Purchase Value":purchase_total})

formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [53]:
items = purchase_data[["Item ID", "Item Name", "Price"]]

item_types = items.groupby(["Item ID","Item Name"])

purchase_count= item_types["Price"].count()

purchase_value = (item_types["Price"].sum()) 

item_price = purchase_value/purchase_count

most_popular = pd.DataFrame({"Purchase Count": purchase_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

popular = most_popular.sort_values(["Purchase Count"], ascending=False).head()

popular.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [54]:
profitable = most_popular_items.sort_values(["Total Purchase Value"],ascending=False).head()
profitable.style.format({"Item Price":"${:,.2f}",
                         "Total Purchase Value":"${:,.2f}"})

In [ ]:
The most obvious trend in the Heroes of Pymoli data is that the largest majority of players
fall within the age rage of 20-24 years old.This being almost half of all the totals players are from that age group.
The male gender is not only the largest percentage of players based on gender, but also the largest buyers of any
unqiue add ons avaible to purchase. Even though there is a large number of purchases for add ons, there is no 
specific outlier for a frequently bought item. The most popular item was only purchased 12 times.